# PROJECT TITLE: RISK PROFILING FOR AIRCRAFT ACQUISITION

## Project Overview
- AeroTrust Company is expanding into new industries to diversify its portfolio. The company is interested in purchasing and operating airplanes for commercial and private enterprises.
- In this project we will analyze a dataset from the National Transportation Safety Board (NTSB) that includes aviation accident data from 1962 to 2023 about civil aviation accidents and selected incidents in the United States and International waters.
- The goal is to analyze NTSB accident data to determine which aircraft are the lowest risk for the company to start a new business endeavor.
- This project will use data science techniques such as data cleaning, imputation, analysis, and visualization to generate insights for a business stakeholder. 
- At the end, this data-driven analysis will yield concrete business recommendations for how the company will move forward with the new aviation opportunity.

## Aircraft Risk Analysis

### 1. Data Preprocessing and Analysis

In [142]:
# Import all libraries needed for the analysis
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [143]:
# Load the dataset from NTSB that includes aviation accident data from 1962 to 2023
aviation_data = pd.read_csv(r"data\AviationData.csv", encoding='ISO-8859-1', low_memory=False, delimiter=',')

In [144]:
# Load the dataset that contains US state codes
USState_codes = pd.read_csv(r"data\USState_Codes.csv", encoding='ISO-8859-1', low_memory=False, delimiter=',')

In [145]:
# Preview the first few rows of the dataset to understand its structure and contents
aviation_data.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [146]:
USState_codes.head()

     US_State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [147]:
# Information about the dataset, including the number of entries and data types of each column
aviation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [148]:
# Describe the dataset to get a summary of the numerical columns
aviation_data.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [149]:
# Check for missing values in the dataset
aviation_data.isnull().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38640
Airport.Name              36099
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1317
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7077
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6381
Publication.Date          13771
dtype: int64

In [150]:
# Check the number of unique values in each column to understand the diversity of data
aviation_data.nunique()

Event.Id                  87951
Investigation.Type            2
Accident.Number           88863
Event.Date                14782
Location                  27758
Country                     219
Latitude                  25589
Longitude                 27154
Airport.Code              10375
Airport.Name              24871
Injury.Severity             109
Aircraft.damage               4
Aircraft.Category            15
Registration.Number       79105
Make                       8237
Model                     12318
Amateur.Built                 2
Number.of.Engines             7
Engine.Type                  13
FAR.Description              31
Schedule                      3
Purpose.of.flight            26
Air.carrier               13590
Total.Fatal.Injuries        125
Total.Serious.Injuries       50
Total.Minor.Injuries         57
Total.Uninjured             379
Weather.Condition             4
Broad.phase.of.flight        12
Report.Status             17075
Publication.Date           2924
dtype: int64

In [151]:
# Check the distribution of the 'Location' column to see the most common locations of aviation accidents
aviation_data['Location'].value_counts().head(10)

ANCHORAGE, AK      434
MIAMI, FL          200
ALBUQUERQUE, NM    196
HOUSTON, TX        193
CHICAGO, IL        184
FAIRBANKS, AK      174
TUCSON, AZ         142
ORLANDO, FL        132
PHOENIX, AZ        132
ENGLEWOOD, CO      131
Name: Location, dtype: int64

### 2. Data Cleaning

In [152]:
#Handle missing values in the dataset by dropping rows with missing values
aviation_data = aviation_data.dropna(subset = ['Event.Id', 'Airport.Code', 'Airport.Name', 'Registration.Number', 'FAR.Description', 'Air.carrier', 'Report.Status', 'Publication.Date', 'Latitude', 'Longitude', 'Injury.Severity', 'Aircraft.damage', 'Aircraft.Category', 'Make', 'Model', 'Number.of.Engines', 'Engine.Type'])

In [153]:
# Check the information of the cleaned dataset to ensure the rows have been dropped successfully
aviation_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6709 entries, 52813 to 88600
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                6709 non-null   object
 1   Investigation.Type      6709 non-null   object
 2   Accident.Number         6709 non-null   object
 3   Event.Date              6709 non-null   object
 4   Location                6709 non-null   object
 5   Country                 6709 non-null   object
 6   Latitude                6709 non-null   object
 7   Longitude               6709 non-null   object
 8   Airport.Code            6709 non-null   object
 9   Airport.Name            6709 non-null   object
 10  Injury.Severity         6709 non-null   object
 11  Aircraft.damage         6709 non-null   object
 12  Aircraft.Category       6709 non-null   object
 13  Registration.Number     6709 non-null   object
 14  Make                    6709 non-null   object
 15  Model                   6709 non-null   object
 16  Amateur.Built           6709 non-null   object
 17  Number.of.Engines       6709 non-null   float64
 18  Engine.Type             6709 non-null   object
 19  FAR.Description         6709 non-null   object
 20  Schedule                656 non-null    object
 21  Purpose.of.flight       6138 non-null   object
 22  Air.carrier             6709 non-null   object
 23  Total.Fatal.Injuries    6667 non-null   float64
 24  Total.Serious.Injuries  6667 non-null   float64
 25  Total.Minor.Injuries    6666 non-null   float64
 26  Total.Uninjured         6703 non-null   float64
 27  Weather.Condition       6691 non-null   object
 28  Broad.phase.of.flight   47 non-null     object
 29  Report.Status           6709 non-null   object
 30  Publication.Date        6709 non-null   object
dtypes: float64(5), object(26)
memory usage: 1.6+ MB

In [154]:
# Drop irrelevant columns
columns_to_drop = ['Event.Id', 'Airport.Code', 'Airport.Name', 'Registration.Number', 'FAR.Description', 'Air.carrier', 'Report.Status', 'Publication.Date', 'Accident.Number', 'Schedule', 'Broad.phase.of.flight']
aviation_data = aviation_data.drop(columns=[col for col in columns_to_drop if col in aviation_data.columns])

In [155]:
# Check the information of the cleaned dataset to ensure the colums have been dropped successfully
aviation_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6709 entries, 52813 to 88600
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Investigation.Type      6709 non-null   object
 1   Event.Date              6709 non-null   object
 2   Location                6709 non-null   object
 3   Country                 6709 non-null   object
 4   Latitude                6709 non-null   object
 5   Longitude               6709 non-null   object
 6   Injury.Severity         6709 non-null   object
 7   Aircraft.damage         6709 non-null   object
 8   Aircraft.Category       6709 non-null   object
 9   Make                    6709 non-null   object
 10  Model                   6709 non-null   object
 11  Amateur.Built           6709 non-null   object
 12  Number.of.Engines       6709 non-null   float64
 13  Engine.Type             6709 non-null   object
 14  Purpose.of.flight       6138 non-null   object
 15  Total.Fatal.Injuries    6667 non-null   float64
 16  Total.Serious.Injuries  6667 non-null   float64
 17  Total.Minor.Injuries    6666 non-null   float64
 18  Total.Uninjured         6703 non-null   float64
 19  Weather.Condition       6691 non-null   object
dtypes: float64(5), object(15)
memory usage: 1.1+ MB

In [156]:
# Display all the columns in the dataset to understand its structure better
pd.set_option('display.max_columns',20)

In [157]:
aviation_data.head()

,Investigation.Type,Event.Date,Location,Country,Latitude,Longitude,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition
52813,Accident,2002-06-16,"KANSAS CITY, MO",United States,39.297777,-94.713889,Non-Fatal,Substantial,Airplane,Mcdonnell Douglas,DC-9-82,No,2.0,Turbo Fan,NaN,NaN,NaN,NaN,123.0,VMC
53653,Accident,2002-10-14,"ALBANY, NY",United States,42.666667,-74.216667,Non-Fatal,Substantial,Airplane,De Havilland,DHC-8-102,No,2.0,Turbo Prop,NaN,NaN,NaN,NaN,33.0,VMC
55434,Accident,2003-09-02,"JAMAICA, NY",United States,40.635555,-73.773889,Non-Fatal,Substantial,Airplane,Mcdonnell Douglas,DC-9-82,No,2.0,Turbo Jet,NaN,NaN,NaN,NaN,138.0,VMC
55992,Accident,2003-12-16,"MOSINEE, WI",United States,44.7775,-89.666667,Non-Fatal,Substantial,Airplane,Beech,99,No,2.0,Turbo Prop,NaN,NaN,NaN,NaN,1.0,IMC
56857,Accident,2004-06-14,"Kodiak, AK",United States,57.761667,-152.303056,Fatal(1),Destroyed,Airplane,Beech,C-45H,No,2.0,Turbo Prop,NaN,1.0,NaN,NaN,NaN,IMC

In [158]:
# Fill missing data with 'Unknown' for categorical columns and 0 for numerical columns
aviation_data.fillna({'Location': 'Unknown', 'InjurySeverity': 'Unknown', 'AircraftDamage': 'Unknown', 'AircraftCategory': 'Unknown', 'Make': 'Unknown', 'Model': 'Unknown'}, inplace=True)
aviation_data.fillna(aviation_data.median(numeric_only = True), inplace=True)

In [159]:
# Check for missing values again to confirm they have been handled
aviation_data.isnull().sum()

Investigation.Type          0
Event.Date                  0
Location                    0
Country                     0
Latitude                    0
Longitude                   0
Injury.Severity             0
Aircraft.damage             0
Aircraft.Category           0
Make                        0
Model                       0
Amateur.Built               0
Number.of.Engines           0
Engine.Type                 0
Purpose.of.flight         571
Total.Fatal.Injuries        0
Total.Serious.Injuries      0
Total.Minor.Injuries        0
Total.Uninjured             0
Weather.Condition          18
dtype: int64

In [160]:
# Convert event_date to datetime
aviation_data['Event.Date'] = pd.to_datetime(aviation_data['Event.Date'], errors='coerce')

In [161]:
# Filter accidents from 2000 onwards for more relevant trends
aviation_data = aviation_data[aviation_data['Event.Date'].dt.year >= 2000]